.topnav-right {
  float: right;
}

.inline-block {
    padding: 15px;
    display: inline-block;
  }

  .card {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    height: 15px;
    width: 100px;
    margin: 15px;
    margin-top: 0;
   
  }